In [1]:
def myfun(x):
    return x + 10
myfunc2 = lambda x: x+10
myfunc3 = lambda x,y: x+y+10
threshold = lambda x: True if x>5 else False
threshold2 = lambda x: x>5

In [13]:
def mod(b):
    return lambda x: x % b

modulo3 = mod(3)
modulo3(10)

In [19]:
words = ["HELLO","IRONHACK","Help"]
words2 = [w.lower() for w in words]

tolower = lambda w: w.lower()
[tolower(w) for w in words]

['hello', 'ironhack', 'help']

In [22]:
lower_and_strip = lambda w: w.lower().strip()


def clean_all(lst, clean_one):
    return [clean_one(x) for x in lst]
clean_all(words, lower_and_strip)

['hello', 'ironhack', 'help']

In [27]:
[lower_and_strip(w) for w in words]
# MAP
list(map(lower_and_strip,words))

['hello', 'ironhack', 'help']

In [26]:
[x for x in range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [30]:
print(list(map(lower_and_strip,words))[0:2])
for i,x in enumerate(words):
    print(i,x)

['hello', 'ironhack']
0 HELLO
1 IRONHACK
2 Help

In [31]:
result_lasy = map(lower_and_strip,words)
for i, x in enumerate(result_lasy):
    if i==3:
        break
    print(x)

hello
ironhack
help

In [37]:
# Filter
numbers = list(range(100))
#[x for x in numbers if x % 2 == 0]
is_even = lambda x: x % 2 == 0

[0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98]

In [45]:

list(filter(is_even, numbers))

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99]

In [43]:
is_even(10)

0

In [48]:
# Reduce
from functools import reduce


numbers = list(range(10))
print(sum(numbers))

45

In [49]:
add = lambda x,y: x + y

reduce(add,numbers)

45

In [51]:
numbers = [6,7,8,3,1]
reduce(lambda x, y: x if x < y else y, numbers )

1

# Before your start:
- Read the README.md file
- Use the resources in the README.md file
- Happy learning!

# Challenge - Passing a Lambda Expression to a Function

In the next excercise you will create a function that returns a lambda expression. Create a function called `modify_list`. The function takes two arguments, a list and a lambda expression. The function iterates through the list and applies the lambda expression to every element in the list.

In [52]:
def modify_list(lst, lmbda):
    """
    Input: list and lambda expression
    Output: the transformed list
    """
    
    # your code here
    return [lmbda(w) for w in lst]

#### Now we will define a lambda expression that will transform the elements of the list. 

In the cell below, create a lambda expression that converts Celsius to Kelvin. Recall that 0Â°C + 273.15 = 273.15K

In [54]:
# your code here
lmbda = lambda x: x  + 273.15

274.15

Finally, convert the list of temperatures below from Celsius to Kelvin.

In [55]:
temps = [12, 23, 38, -55, 24]

# your code here
print(modify_list(temps,lmbda))

[285.15, 296.15, 311.15, 218.14999999999998, 297.15]

#### In this part, we will define a function that returns a lambda expression

In the cell below, write a lambda expression that takes two numbers and returns 1 if one is divisible by the other and zero otherwise. Call the lambda expression `mod`.

In [64]:
# your code here
mod = lambda x,y: True if x % y == 0 or y %x ==0 else False

#print(mod(12,24))

True

#### Now create a function that returns mod. The function only takes one argument - the first number in the `mod` lambda function. 

Note: the lambda function above took two arguments, the lambda function in the return statement only takes one argument but also uses the argument passed to the function.

In [66]:
def divisor(b):
    """
    Input: a number
    Output: a function that returns 1 if the number is 
    divisible by another number (to be passed later) and zero otherwise.
    """
    
    # your code here
    return lambda x: x % b

Finally, pass the number 5 to `divisor`. Now the function will check whether a number is divisble by 5. Assign this function to `divisible5`

In [67]:
# your code here
divisible5 = divisor(5)

Test your function with the following test cases:

In [68]:
divisible5(10)

0

In [69]:
divisible5(8)

3

# Bonus Challenge - Using Lambda Expressions in List Comprehensions

In the following challenge, we will combine two lists using a lambda expression in a list comprehension. 

To do this, we will need to introduce the `zip` function. The `zip` function returns an iterator of tuples.

In [10]:
# Here is an example of passing one list to the zip function. 
# Since the zip function returns an iterator, we need to evaluate the iterator by using a list comprehension.

l = [1,2,3,4,5]
[x for x in zip(l)]

[(1,), (2,), (3,), (4,), (5,)]

Using the `zip` function, let's iterate through two lists and add the elements by position.

In [11]:
list1 = ['Green', 'cheese', 'English', 'tomato']
list2 = ['eggs', 'cheese', 'cucumber', 'tomato']

# your code here

# Bonus Challenge - Using Lambda Expressions as Arguments

#### In this challenge, we will zip together two lists and sort by the resulting tuple.

In the cell below, take the two lists provided, zip them together and sort by the first letter of the second element of each tuple. Do this using a lambda function.

In [1]:
list1 = ['Engineering', 'Computer Science', 'Political Science', 'Mathematics']
list2 = ['Lab', 'Homework', 'Essay', 'Module']

# your code here

# Bonus Challenge - Sort a Dictionary by Values

Given the dictionary below, sort it by values rather than by keys. Use a lambda function to specify the values as a sorting key.

In [13]:
d = {'Honda': 1997, 'Toyota': 1995, 'Audi': 2001, 'BMW': 2005}

# your code here