In [1]:
# Import Libraries
import seaborn as sns
import numpy as np
from scipy import stats
import pandas as pd

### 1. Import the moovies dataset

# https://www.kaggle.com/carolzhangdc/imdb-5000-movie-dataset

In [2]:
movies = pd.read_csv('movie_metadata.csv')

In [45]:
movies.sort_values('director_facebook_likes', ascending=False).head(10)

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
3672,Color,Joseph Gordon-Levitt,364.0,90.0,23000.0,694.0,Scarlett Johansson,23000.0,24475193.0,Comedy|Drama|Romance,...,314.0,English,USA,R,3000000.0,2013.0,19000.0,6.6,2.35,33000
66,Color,Christopher Nolan,645.0,152.0,22000.0,11000.0,Heath Ledger,23000.0,533316061.0,Action|Crime|Drama|Thriller,...,4667.0,English,USA,PG-13,185000000.0,2008.0,13000.0,9.0,2.35,37000
97,Color,Christopher Nolan,642.0,148.0,22000.0,23000.0,Tom Hardy,29000.0,292568851.0,Action|Adventure|Sci-Fi|Thriller,...,2803.0,English,USA,PG-13,160000000.0,2010.0,27000.0,8.8,2.35,175000
3716,Black and White,Christopher Nolan,274.0,113.0,22000.0,379.0,Thomas Lennon,716.0,25530884.0,Mystery|Thriller,...,2067.0,English,USA,R,9000000.0,2000.0,651.0,8.5,2.35,40000
1066,Color,Christopher Nolan,185.0,118.0,22000.0,319.0,Maura Tierney,14000.0,67263182.0,Drama|Mystery|Thriller,...,651.0,English,USA,R,46000000.0,2002.0,509.0,7.2,2.35,0
96,Color,Christopher Nolan,712.0,169.0,22000.0,6000.0,Anne Hathaway,11000.0,187991439.0,Adventure|Drama|Sci-Fi,...,2725.0,English,USA,PG-13,165000000.0,2014.0,11000.0,8.6,2.35,349000
1233,Color,Christopher Nolan,341.0,130.0,22000.0,19000.0,Hugh Jackman,23000.0,53082743.0,Drama|Mystery|Sci-Fi|Thriller,...,1100.0,English,USA,PG-13,40000000.0,2006.0,20000.0,8.5,2.35,49000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
120,Color,Christopher Nolan,478.0,128.0,22000.0,11000.0,Liam Neeson,23000.0,205343774.0,Action|Adventure,...,2685.0,English,USA,PG-13,150000000.0,2005.0,14000.0,8.3,2.35,15000
364,Color,David Fincher,517.0,158.0,21000.0,585.0,Goran Visnjic,18000.0,102515793.0,Crime|Drama|Mystery|Thriller,...,632.0,English,USA,R,90000000.0,2011.0,1000.0,7.8,2.35,54000

In [9]:
movies.columns

Index(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes'],
      dtype='object')

### 2. Use crosstabs to show the number of moovies per country

In [22]:

pd.crosstab(movies['country'],  columns=movies.index, values=movies.index, aggfunc=len, margins=True, margins_name='Total')[['Total']].sort_values('Total' ,ascending=False )

col_0          Total
country
Total           5038
USA             3807
UK               448
France           154
Canada           126
...              ...
Libya              1
New Line           1
Nigeria            1
Official site      1
Kenya              1

[66 rows x 1 columns]

### 3. Create a crosstab to show the number of films per director and genre splitted by country

In [30]:
pd.crosstab([movies['director_name'],movies['genres'],movies['country']],  columns=movies['country'], values=movies.index, aggfunc=len, margins=True, margins_name='Total')[['Total']].sort_values('Total' ,ascending=False ).head(10)

country                                                      Total
director_name    genres                           country
Total                                                         4936
Woody Allen      Comedy|Romance                   USA            5
Rob Reiner       Comedy|Drama|Romance             USA            5
John Glen        Action|Adventure|Thriller        UK             5
Todd Phillips    Comedy                           USA            5
George Miller    Action|Adventure|Sci-Fi|Thriller Australia      4
George A. Romero Horror                           USA            4
Gus Van Sant     Drama                            USA            4
Garry Marshall   Comedy|Romance                   USA            4
Mel Brooks       Comedy                           USA            4

### 4. Average duration of filmes grouped by color

In [38]:
pd.crosstab([movies['color']],  columns=movies['duration'], values=movies['duration'], aggfunc=np.mean, margins=True, margins_name='Avg')[['Avg']].sort_values('Avg' ,ascending=True )

duration                 Avg
color
Color             107.042908
Avg               107.260279
 Black and White  112.253589

### 5. Average number of likes per director (assuming that total film's likes are counted as a sum of actor's likes)

In [48]:
pd.crosstab([movies['director_name']],  columns=movies['director_facebook_likes'], values=movies['director_facebook_likes'], aggfunc=sum, margins=True, margins_name='Total')[['Total']].sort_values('Total' ,ascending=False )[1:]

director_facebook_likes     Total
director_name
Steven Spielberg         364000.0
Martin Scorsese          340000.0
Clint Eastwood           320000.0
Woody Allen              242000.0
David Fincher            210000.0
...                           ...
Kurt Hale                     0.0
Kurt Voss                     0.0
Lana Wachowski                0.0
Lance Hool                    0.0
A. Raven Cruz                 0.0

[2398 rows x 1 columns]