In [6]:
import pandas as pd
# creating a dataframe from python object
df = pd.DataFrame([1,2,3,4,5], columns=["numbers"])
print(df.dtypes)
display(df)

numbers    int64
dtype: object

   numbers
0        1
1        2
2        3
3        4
4        5

In [9]:
pd.DataFrame([
    [1,'hello', True],
    [2,'hey',False],
    [3,'Paris',False],
    [4,'toto', True]
    ], columns=["Numbers","word","bool"])

   Numbers   word   bool
0        1  hello   True
1        2    hey  False
2        3  Paris  False
3        4   toto   True

In [23]:
books = [
    {"Autor":"a", "Title":"mybook", "year": 1992},
    {"Autor":"b", "Title":"mybookB", "year": 1900},
    {"Autor":"c", "Title":"mybookC", "year": 2000},
    {"Autor":"d", "Title":"mybookD", "year": 2099}
]
df = pd.DataFrame(books)
dict = df.to_dict(orient='dict')
print(dict)
dict2 = df.to_dict(orient='records')
print(dict2)

{'Autor': {0: 'a', 1: 'b', 2: 'c', 3: 'd'}, 'Title': {0: 'mybook', 1: 'mybookB', 2: 'mybookC', 3: 'mybookD'}, 'year': {0: 1992, 1: 1900, 2: 2000, 3: 2099}}
[{'Autor': 'a', 'Title': 'mybook', 'year': 1992}, {'Autor': 'b', 'Title': 'mybookB', 'year': 1900}, {'Autor': 'c', 'Title': 'mybookC', 'year': 2000}, {'Autor': 'd', 'Title': 'mybookD', 'year': 2099}]

In [32]:
print(dict["Autor"])
print(len(dict["Autor"])) #nb rows
print(len(df.columns))
display(df[["Autor","year"]])
print(type(df[["year"]]))
print(type(df["year"]))

{0: 'a', 1: 'b', 2: 'c', 3: 'd'}
4
3

  Autor  year
0     a  1992
1     b  1900
2     c  2000
3     d  2099

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.series.Series'>

In [36]:
!head titanic.csv  # donne le début
!wc -l titanic.csv

df = pd.read_csv('file ath', sep=';', encoding='utf8', usecols=["survived", "Name"])

'head' n'est pas reconnu en tant que commande interne
ou externe, un programme ex�cutable ou un fichier de commandes.
'wc' n'est pas reconnu en tant que commande interne
ou externe, un programme ex�cutable ou un fichier de commandes.

TypeError: read_csv() missing 1 required positional argument: 'filepath_or_buffer'

In [38]:
MYSQL_CONNECTION_STRING = "mysql://anonymous:anonymous@localhost/database"
df = pd.read_sql("SELECT * FROM tables", MYSQL_CONNECTION_STRING)
df.to_sql('table cible', MYSQL_CONNECTION_STRING, if_exists='replace', index=False)

In [ ]:
df["Age"].mean()
df[["Age", "Flare"]].mean()

# Introduction to Pandas

Complete the following set of exercises to solidify your knowledge of Pandas fundamentals.

#### 1. Import Numpy and Pandas and alias them to `np` and `pd` respectively.

In [ ]:
# your code here

#### 2. Create a Pandas Series containing the elements of the list below.

In [ ]:
lst = [5.7, 75.2, 74.4, 84.0, 66.5, 66.3, 55.8, 75.7, 29.1, 43.7]

In [ ]:
# your code here

#### 3. Use indexing to return the third value in the Series above.

*Hint: Remember that indexing begins at 0.*

In [ ]:
# your code here

#### 4. Create a Pandas DataFrame from the list of lists below. Each sublist should be represented as a row.

In [ ]:
b = [[53.1, 95.0, 67.5, 35.0, 78.4],
     [61.3, 40.8, 30.8, 37.8, 87.6],
     [20.6, 73.2, 44.2, 14.6, 91.8],
     [57.4, 0.1, 96.1, 4.2, 69.5],
     [83.6, 20.5, 85.4, 22.8, 35.9],
     [49.0, 69.0, 0.1, 31.8, 89.1],
     [23.3, 40.7, 95.0, 83.8, 26.9],
     [27.6, 26.4, 53.8, 88.8, 68.5],
     [96.6, 96.4, 53.4, 72.4, 50.1],
     [73.7, 39.0, 43.2, 81.6, 34.7]]

In [ ]:
# your code here

#### 5. Rename the data frame columns based on the names in the list below.

In [ ]:
colnames = ['Score_1', 'Score_2', 'Score_3', 'Score_4', 'Score_5']

In [ ]:
# your code here

#### 6. Create a subset of this data frame that contains only the Score 1, 3, and 5 columns.

In [ ]:
# your code here

#### 7. From the original data frame, calculate the average Score_3 value.

In [ ]:
# your code here

#### 8. From the original data frame, calculate the maximum Score_4 value.

In [ ]:
# your code here

#### 9. From the original data frame, calculate the median Score 2 value.

In [ ]:
# your code here

#### 10. Create a Pandas DataFrame from the dictionary of product orders below.

In [ ]:
orders = {'Description': ['LUNCH BAG APPLE DESIGN',
  'SET OF 60 VINTAGE LEAF CAKE CASES ',
  'RIBBON REEL STRIPES DESIGN ',
  'WORLD WAR 2 GLIDERS ASSTD DESIGNS',
  'PLAYING CARDS JUBILEE UNION JACK',
  'POPCORN HOLDER',
  'BOX OF VINTAGE ALPHABET BLOCKS',
  'PARTY BUNTING',
  'JAZZ HEARTS ADDRESS BOOK',
  'SET OF 4 SANTA PLACE SETTINGS'],
 'Quantity': [1, 24, 1, 2880, 2, 7, 1, 4, 10, 48],
 'UnitPrice': [1.65, 0.55, 1.65, 0.18, 1.25, 0.85, 11.95, 4.95, 0.19, 1.25],
 'Revenue': [1.65, 13.2, 1.65, 518.4, 2.5, 5.95, 11.95, 19.8, 1.9, 60.0]}

In [ ]:
# your code here

#### 11. Calculate the total quantity ordered and revenue generated from these orders.

In [ ]:
# your code here

#### 12. Obtain the prices of the most expensive and least expensive items ordered and print the difference.

In [ ]:
# your code here