# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [2]:
# import numpy and pandas
import pandas as pd
import numpy as np

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [4]:
# Run this code:
pokemon = pd.read_csv('pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [19]:
# Your code here:
pokemon.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [28]:
# Your code here:
print('Nb Legendary',len(pokemon[pokemon['Legendary']]))
print('Nb Non Legendary',len(pokemon[pokemon['Legendary']== False]))

Nb Legendary 65
Nb Non Legendary 735

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [36]:
# Your code here:

pok_mean_L = pokemon[pokemon['Legendary']]['Total'].mean()
pok_std_L = pokemon[pokemon['Legendary']]['Total'].std()
pok_mean_N = pokemon[pokemon['Legendary']== False]['Total'].mean()
pok_td_N = pokemon[pokemon['Legendary']== False]['Total'].std()
print('Legendary mean ',pok_mean_L)
print('Legendary std ',pok_std_L)
print('Non Legendary mean ',pok_mean_N)
print('Non Legendary std ',pok_td_N)

Legendary mean  637.3846153846154
Legendary std  60.93738905315346
Non Legendary mean  417.21360544217686
Non Legendary std  106.76041745713022

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [48]:
# Your code here:
from scipy import stats
stats.ttest_ind(pokemon[pokemon['Legendary']]['Total'], pokemon[pokemon['Legendary']== False]['Total']).pvalue

3.0952457469652825e-52

In [51]:
pokemon[pokemon['Legendary']]['Total']

156    580
157    580
158    580
162    680
163    780
      ...
795    600
796    700
797    600
798    680
799    600
Name: Total, Length: 65, dtype: int64

In [33]:
pokemon[pokemon['Legendary']]['Total']

156    580
157    580
158    580
162    680
163    780
      ...
795    600
796    700
797    600
798    680
799    600
Name: Total, Length: 65, dtype: int64

What do you conclude from this test? Write your conclusions below.

# Your conclusions here: mean are not the same

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [34]:
# Your code here:
pokemon.value_counts('Type 1')

Type 1
Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Ghost        32
Ground       32
Dragon       32
Dark         31
Poison       28
Fighting     27
Steel        27
Ice          24
Fairy        17
Flying        4
dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [37]:
# Your code here:
pok_mean_W = pokemon[pokemon['Type 1']=='Water']['Total'].mean()
pok_std_W = pokemon[pokemon['Type 1']=='Water']['Total'].std()
pok_mean_NW = pokemon[pokemon['Type 1']!='Water']['Total'].mean()
pok_td_NW = pokemon[pokemon['Type 1']!='Water']['Total'].std()
print('Water mean ',pok_mean_W)
print('Water std ',pok_std_W)
print('Non Water mean ',pok_mean_NW)
print('Non Water std ',pok_td_NW)

Water mean  430.45535714285717
Water std  113.18826606431458
Non Water mean  435.85901162790697
Non Water std  121.09168230208066

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [38]:
# Your code here:
stats.ttest_ind(pokemon[pokemon['Type 1']=='Water']['Total'],pokemon[pokemon['Type 1']!='Water']['Total']).pvalue

0.6587140317488793

Write your conclusion below.

In [10]:
# Your conclusions here: cannot reject that mean are simailar

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [40]:
# Your code here:
stats.ttest_rel(pokemon['Attack'],pokemon['Defense']).pvalue

1.7140303479358558e-05

Describe the results of the test in the cell below.

In [43]:
# Your conclusions here:the defense and attack scores are equal is an assuption we need to reject

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [44]:
# Your code here:
stats.ttest_rel(pokemon['Sp. Atk'],pokemon['Sp. Def']).pvalue

0.3933685997548122

Describe the results of the test in the cell below.

# Your conclusions here: 
therer is a significant difference between the mean of special defense and the mean of special attack.

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [46]:
# Your code here:
stats.ttest_1samp(pokemon['Attack'] - pokemon['Defense'], 0).pvalue

1.7140303479358558e-05

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [17]:
# Your code here:

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.chi2_contingency.html).

In [18]:
# Your code here:

Based on a 95% confidence, should we reject the null hypothesis?

In [19]:
# Your answer here: